/* tablet */

@media screen and (min-width: 768px) {
    body {
        width: 768px;
        max-width: 100%;

        overflow-x: hidden;

        background-image: url("./images/image-hero-tablet.png");
        background-repeat: no-repeat;
        background-size: 640px 640px;
        background-position: top -60px right -270px;
    }
    main {
        padding: 20px;
    }

    header {
        margin: 24px 40px 0px 39px;
    }

    .budget-container {
        flex-direction: row;
        justify-content: unset;
        flex-basis: 55%;
        width: 55%;
        margin-left: 25px;
    }


    .mobile-girl {
        display: none;
    }

    section {
        margin-top: 185px;
        margin-left: 14px;
        column-gap: 20px;
        row-gap: 55px;
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .card-header h2 {
        margin: 55px 20px 140px 32px;
    }
    
    .card-header, .card {
        width: 40%;
        width: 340px;
        height: 260px;
    }

    .card svg {
        position: absolute;
    }

    .card-text-container {
        padding: 40px 20px 0 0;
    }
    
}


/* desktop */

@media screen and (min-width: 1024px) {
    body {
        width: 1440px;
        max-width: 100%;

        overflow-x: hidden;

        background-image: url("./images/image-hero-desktop.png");
        background-repeat: no-repeat;
        background-size: 990px 990px;
        background-position: top -140px right -400px;
    }

    header h2 {
        font-size: 36px;
        line-height: 45px;
    }
    header button {
        font-size: 18px;
    }

    header button:hover {
        background-color: #666CA3;
        cursor: pointer;
    }

    .budget-container {
        flex-direction: row;
        justify-content: unset;
        flex-basis: 55%;
        width: 50%;
        margin-top: 150px;
    }
    .budget {
        row-gap: 50px;
        padding-left: 40px;
    }

    .budget-h1 {
        font-size: 56px;
        line-height: 71px;
    }
    .budget-button:hover {
        cursor: pointer;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    }

    section {
        margin-top: 285px;
        justify-content: center;
        align-items: center;
    }

    footer h2 {
        font-size: 36px;
        line-height: 45px;
    }

    footer button {
        font-size: 18px;
    }

    footer button:hover {
        cursor: pointer;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
    }
}

